		<div id="divTxt">
			<h3>Créditos</h3></br>
			<div class="izq">Autor: Anisella</div>
			<div class="izq">País: Perú</div>
			<p>Curso: Desarrollo de servicios en la nube con HTML5, Javascript y node.js</p>
		</div>
		<div><img id="img1" src="/images/anisella.jpg" /></div>